:root{
    --buttonGradients: linear-gradient(135deg, rgba(255,179,86,1) 0%, rgba(255,124,15,1) 100%);
    --plainTextColor: #fff;
    --subText: #bfbfbf;
    --backgroundColor: rgb(73,18,246);
}

html, body{
    padding:0px;
    margin:0px;
    height:100%;
    width:100%;
    background-color: var(--backgroundColor);
    border:none;
    font-family: Arial, Helvetica, sans-serif;
}

.publicWrapper{
    width:100%
}

.plainText{
    color: var(--plainTextColor);
    z-index: 1;
}

.subText {
    color:var(--subText);
    z-index: 1;
}

.columnText{
    text-align: left;
}

.columnSubText{
    font-size:30px;
}

.orangeButtons {
    background: var(--buttonGradients);
    color: var(--plainTextColor);
    border: none;
    border-radius: 50px;
    font-weight: 700;
}

/*below this is the styling for the navigation bar 
*/

#navigationBar{
    position:relative;
    height:100px;
    width:100%;
    padding: 20px 0;
} 

#innerNavBarWrapper{
    max-width: 1100px;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#innerNavBarWrapper a img{
    height: 38px;
    width: 130px;
}

#innerNavBarWrapper a{
    padding: 0px 15px;
    padding-top: 5px;
}

#navBarRightWrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-right:30px;
    justify-content: space-around;
    width: 250px;
}

#navBarRightWrapper a:link,
#navBarRightWrapper a:visited,
#navBarRightWrapper a:hover{
    color: var(--plainTextColor);
    text-decoration: none;
}

#navBarRightWrapper input{
    padding: 1em 30px;
}

/*this is the wrapper for the main content below the header and abover any footer added in the future 
*/

.innerMainContentWrapper{
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*below this is the styalization for the Main hero image and text
*/
.innerPagesWrapper{
    display: flex;
    flex-direction: row;
    margin-top: 175px;
}

#heroImageLeftColumn{
    width:525px;
    padding-right: 50px;
}

#heroHeaderOne{
    position: relative;
    font-size: 36px;
    padding: 75px 0px 0px 0px;
    margin:0px;
    font-weight: 100;
    box-sizing: content-box;
    width:25vw;
    z-index:6;
    overflow: visible;
}

#heroHeaderTwo{
    position: relative;
    font-size: 46px;
    margin:0px;
    padding: 15px 0px 0px 0px 0px;
    overflow: visible;
    width: 120%;
    z-index:2;
}

#heroSubText{
    font-size: 18px;
    position: relative;
    z-index: 6;
    width:120%;
}

#cloutImageWrapper{
    margin: 0 -20px 0 0;
}

#cloutImageHeader{
    font-size: 10px;
}

#cloutImage{
    padding-top: 6px;
    height: 20px;
    width:389px;
    position: relative;
    z-index: 6;
}

#heroImage{
    height: 500px;
    flex-basis: 0;
    margin-left: -50px;
    position: relative;
    z-index: 1;
}

#fiveSessionsButton{
    width: 220px;
    font-size: 20px;
    padding: 25px 10px;
    margin-top: 2em;
}

#heroImageRightColumn{
    display:flex;
    justify-content: flex-end;
    overflow: visible;
    z-index: 1;
}

/*
this is the break point where the content from the hero image is seperated from the additional information provided below
*/

#contentBreakPoint{
    text-align: center;
    padding: 150px 0 50px 0;
}

/*
and this is the rest of the content asked to be shown on the page
*/

.lowerSubText{
    font-size: 20px;
}

.lowerLinkText{
    font-size: 17px;;
}

#secondaryContentInnerWrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

#imagesFirst{
    margin-bottom: 20px;
    text-align: center;
}


#secondaryLeftColumn{
    width:500px;
    margin: 0px 10px 0px 50px;
    align-items: flex-start;
}

#secondaryRightColumn{
    width:500px;
    flex-direction: column;
    align-items: flex-start;
}


#imagesSecond{
    margin-bottom: 60px;
    margin-top: 28px;
    text-align: center;
}

#leftColumnLink{
    display: flex;
    align-items:flex-start;
}

#whatArePeopleSaying{
    text-align: center;
    font-size: 20px;
}